
.navbar {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
  box-sizing: border-box;
}

.navbar-logo img {
  width: 300px;
  height: 40px;
  display: block;

  position: relative;
  right: 80px;
}

.navbar-links {
  display: flex;
  gap: 30px;
  position: relative;
  left: 230px;
}

.navbar-links a {
  text-decoration: none;
  color: #b83255;
  font-size: 18px;
}